

<script>
  // @ts-nocheck


  import { goto } from "$app/navigation";
  import { get_profile, logout } from "../../hook";

  import { onDestroy, onMount } from "svelte";

  let user;
  let loading = false;
  let secondsRemaining = 6;
  let timeoutId;
  const updateCounter = () => {
      secondsRemaining -= 1;
      console.log("Después de actualizar: ", secondsRemaining);

      if (secondsRemaining > 0) {
        setTimeout(updateCounter, 1000);
      }
    };

  onMount(() => {
    
    loading = true;

    const profilePromise = get_profile();

    const timeoutPromise = new Promise((resolve) => {
      setTimeout(resolve, 6000);
    });

    Promise.race([profilePromise, timeoutPromise])
      .then((result) => {
        user = result || null || undefined;
      })
      .catch((error) => {
        console.error(error);
      })
      .finally(() => {
        loading = false;

        if (!user) {
          updateCounter();
          // Redirigir a /login después de 5 segundos si el perfil no se carga
          timeoutId = setTimeout(() => {
            goto("/login");
          }, 6000);
        }
      });
  });

  onDestroy(() => {
    // Limpiar cualquier intervalo o timeout que puedas tener
    clearInterval(updateCounter);
    clearTimeout(timeoutId);
  });
</script>

<div>
  {#if loading}
    <p>Cargando perfil...</p>
  {:else if user}
    <h1>Bienvenido, {user.username}</h1>
    <p>Email: {user.email}</p>
    <p>Rol: {user.role}</p>
  {:else}
    <p>
      No se pudo cargar el perfil. Redirigiendo en {secondsRemaining} segundos...
    </p>
  {/if}
  <button on:click={logout}>Logout</button>
</div>
